.admin-container {
  font-family: Roboto, sans-serif;
  width: 100%;
  min-width: 400px;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr;
  row-gap: 20px;

  nav,
  main {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .admin-container {
    width: 60%;
    margin: 0 auto;

    nav,
    main {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
