.admin-container {
  width: 100%;
  min-width: 400px;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr;

  nav,
  main {
    margin-left: 10px;
    margin-right: 10px;
  }

  header {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .admin-container {
    width: 60%;
    margin: 0 auto;

    nav,
    main {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
