// Variables
$primary: #232323;
$secondary: #403f3f;

// Links
a,
a:visited {
  color: #000;
  text-decoration: none;
}

// Buttons
.button {
  padding: 8px;
  border: none;
  font-weight: 300;
}

.button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
}

// Input
.input {
  padding: 8px;
  border: 1px solid $primary;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 300;
}

// Helpers
.fill {
  background-color: $primary;
  color: #fff;
}

.fill:hover {
  background-color: $secondary;
}

.outline {
  background-color: #fff;
  color: $primary;
  border: 2px solid $primary;
}

.outline:hover,
.outline:focus {
  border: 2px solid $secondary;
}

.separator {
  margin-right: 10px;
  color: #8c8c8c;
  font-weight: 400;
}
