.login-container {
  width: 300px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr;

  img {
    width: 180px;
    align-self: flex-end;
    margin: 10px auto;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  input,
  button {
    margin-bottom: 10px;
  }
}
